<div class="side_wrapper">
  <div class="side_top">
  <p class="user_name">MMMMMMM</p>
  <%=link_to "チャットを作成する", root_path,class:"create_chat" %>
  </div>
  <div class="side_main">
    <div class="rooms">
      room1
    </div>
    <div class="rooms">
      room1
    </div>
  </div>
</div>