.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
}
.side_wrapper{
  background-color: #253141;
  height: 100%;
  width: 300px;
}
.side_top{
  background-color: #253141;
  height: 100px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user_name{
  color: #fafafa;
  font-size: 16px;
}
.create_chat{
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
  border: 1px solid lightblue;
  padding: 14px;
}
.side_main{
  background-color: #2f3e51;
  height: calc(100% - 100px);
  width: 100%;
  padding: 0 20px;
}
.rooms{
  color: white;
  padding: 20px 0 40px 0;
}
.main_wrapper{
  background-color: pink;
  height: 100%;
  width: calc(100vw - 300px);
}
.main_top{
  background-color:white ;
  height: 100px;
  width: 100%;
  padding: 0 40px;
}
.main_middle{
  background-color:#fafafa ;
  height: calc(100% - 190px);
  width: 100%;
  padding: 46px 40px 0 40px;
}
.main_bottom{
  background-color:#dddddd; 
  height: 90px;
  width: 100%;
  padding: 20px 40px 20px 40px;
}